body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.titulo-destaque{
    color: #22d4fd;
}

*{
    margin: 0;
    padding: 0;
}


.apresentacao {
    display: flex;
}